        <h1>404: Page does not exist</h1>
        <p>Redirectoring to <a href="https://wwww.olgaanastasiaart.com/">www.olgaanastasiaart.com</a> in <span id="timer">10</span> seconds...</p>

        <script type="text/javascript">
            const url = "https://www.olgaanastasiaart.com";
            const redirect = () => window.location = url;

            function updateDigit(c) {
                c.time_left = c.time_left - 1;
                document.querySelector("#timer").innerHTML = c.time_left;
            }

            let second = 1000; // milliseconds per second
            let time = 10 * second; // milliseconds
            let clock = { time_left : 10 };

            let countdown = window.setInterval(updateDigit(clock), second);
            window.setTimeout(() => {
                    window.clearTimeout(countdown);
                    redirect();
                }, time);
        </script>
