{% extends "skeleton.njk" %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/css/category.css">
{% endblock %}

{% block body %}
<div class="background"></div>

<section class="portfolio">
    <h2><span>{{ category }}</span></h2>

    <div class="previews">

        {% for preview in preview_uris %}
        <div class="poster">
            <img alt="Art piece from the {{ category }} category" src="{{ preview }}">
        </div>
        {% else %}
        <h2>No pictures in the category "{{ category }}"</h2>
        <h3><a href="category/">Try a random category</a> or <a href="/">return home</a></h3>
        {% endfor %}

    </div>
</section>

<span class="credit">Background <a href="https://www.spacetelescope.org/images/heic1509a/">"Westerlund 2 (ESA/Hubble)"</a></span>
{% endblock %}
