{% extends "skeleton.njk" %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/css/category.css">
{% endblock %}

{% block body %}

<a href="/"><h1>Olga Anastasia Art</h1></a>
<h2>Portfolio Section: {{ category }}</h2>

<section class="portfolio">

{% for preview in preview_uris %}
    <div class="poster">
        <img src="{{ preview }}">
    </div>
{% else %}
    <h2>No pictures in the category "{{ category }}"</h2>
    <h3><a href="category/">Try a random category</a> or <a href="/">return home</a></h3>
{% endfor %}

</section>

{% endblock %}
