{% extends "skeleton.njk" %}

{% block stylesheet %}
<link rel="stylesheet" href="static/css/index.css">
{% endblock %}

{% block body %}
<div class="thumbnail-backgrounds">
    <img src="static/img/mixed_media-background.jpg" style="opacity:0">
    <img src="static/img/ink-background.jpg" style="opacity:0">
    <img src="static/img/sketchbook-background.jpg" style="opacity:0">
    <img src="static/img/watercolor-background.jpg" style="opacity:0">
</div>
<div class="background-mask">
</div>

<nav>
    <div class="menu">
        <a href="#">Home</a>
        <a href="#">Store</a>
        <a href="#">About/Contact</a>
        <span class="separator"></span>
        <a href="#">Mixed Media</a>
        <a href="#">Watercolor</a>
        <a href="#">Ink</a>
        <a href="#">Sketchbook</a>
        <span class="separator"></span>
        <a href="#">Instagram</a>
        <a href="#">Tumblr</a>
    </div>

    <!-- Temporarily hiding menu controls
    <div class="controls">
        <svg id="open" class="menu-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
        <svg id="close" class="menu-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
    </div>
    -->
</nav>

<section class="logo">
    <img id="main-logo" src="static/img/logo-oneline-oaa_cloud.png">
</section>

<section class="portfolio">
    <a href="category/mixedmedia" class="noh">
        <div class="poster" id="mixed-media">
            <h2>Mixed Media</h2>
            <img src="static/img/mixed_media-thumbnail.jpg">
        </div>
    </a>
    <a href="category/watercolor" class="noh">
        <div class="poster" id="watercolor">
            <h2>Watercolor</h2>
            <img src="static/img/watercolor-thumbnail.jpg">
        </div>
    </a>
    <a href="category/ink" class="noh">
        <div class="poster" id="ink">
            <h2>Ink</h2>
            <img src="static/img/ink-thumbnail.jpg">
        </div>
    </a>
    <a href="category/sketchbook" class="noh">
        <div class="poster" id="sketchbook">
            <h2>Sketchbook</h2>
            <img src="static/img/sketchbook-thumbnail.jpg">
        </div>
    </a>
</section>

<script src="static/js/index.js"></script>

{% endblock %}
