{% extends "skeleton.njk" %}

{% block stylesheet %}
<link rel="stylesheet" href="static/css/index.css">
{% endblock %}

{% block body %}
<div class="fading-bg">
</div>

<nav>
    <div class="icon-bar">
        <a href="https://www.instagram.com/olgagorman" class="noh">
            <svg class="profile" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
        </a>
        <a href="https://www.instagram.com/olgaanastasiaart/" class="noh">
            <svg class="instagram" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.5" y2="6.5"></line></svg>
        </a>
        <a href="#" class="noh">
            <svg class="facebook" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>
        </a>
        <a href="#" class="noh">
            <svg class="twitter" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>
        </a>
        <a href="#" class="noh">
            <svg class="hash" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-hash"><line x1="4" y1="9" x2="20" y2="9"></line><line x1="4" y1="15" x2="20" y2="15"></line><line x1="10" y1="3" x2="8" y2="21"></line><line x1="16" y1="3" x2="14" y2="21"></line></svg>
        </a>
    </div>

    <div class="menu">
        <a href="#">Home</a>
        <a href="#">Store</a>
        <a href="#">About/Contact</a>
        <span class="separator"></span>
        <a href="#">Mixed Media</a>
        <a href="#">Watercolor</a>
        <a href="#">Ink</a>
        <a href="#">Sketchbook</a>
        <span class="separator"></span>
        <a href="#">Instagram</a>
        <a href="#">Tumblr</a>
    </div>

    <!-- Temporarily hiding menu controls
    <div class="controls">
        <svg id="open" class="menu-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
        <svg id="close" class="menu-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
    </div>
    -->
</nav>

<section class="logo">
    <img id="main-logo" src="static/img/logo-oneline-oaa_cloud.png">
</section>

<section class="portfolio">
    <a href="category/" class="noh">
        <div class="poster" id="mixed-media">
            <h2>Mixed Media</h2>
            <img src="static/img/mixed_media-thumbnail.jpg">
        </div>
    </a>
    <a href="category/" class="noh">
        <div class="poster" id="watercolor">
            <h2>Watercolor</h2>
            <img src="static/img/watercolor-thumbnail.jpg">
        </div>
    </a>
    <a href="category/" class="noh">
        <div class="poster" id="ink">
            <h2>Ink</h2>
            <img src="static/img/ink-thumbnail.jpg">
        </div>
    </a>
    <a href="category/" class="noh">
        <div class="poster" id="sketchbook">
            <h2>Sketchbook</h2>
            <img src="static/img/sketchbook-thumbnail.jpg">
        </div>
    </a>
</section>

<script src="static/js/main.js"></script>

{% endblock %}
