$thumb-width: 160px;
$thumb-height: 200px;

body {
    z-index: -10;
}

div.background {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -5;
}

#logo {
    min-width: 300px;
    width: 33%;
}

h2 {
    margin: 1em 2em;

    span.underline {
        border-bottom: 4px solid black;
        text-transform: uppercase;
    }
}

section.portfolio {
    margin: 0em 4em;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    
    div.poster {
        min-width: $thumb-width;
        min-height: $thumb-height;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        img {
            height: auto;
            width: auto;
            border: 2px solid white;
            box-shadow: 0px 0px 10px 5px;
            margin: 5px;
        }
    }
}




