@import url('https://fonts.googleapis.com/css?family=Roboto');

$poster-width: 160px;
$poster-height: 160px;

@mixin biggest-box {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    @include biggest-box;
}

body {
    @include biggest-box;
    background-image: url("../../static/img/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    z-index: -10;
}

nav {
    margin: 0;
    padding: 0;
    height: 2em;
    width: 100%;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon-bar {
        display: flex;
        padding: .5em .25em .25em .25em;
        flex-flow: column nowrap;
        align-items: center;
        align-self: center;

        position: fixed;
        left: 0;
        top: 35%;

        background-color: rgba(63,81,181,.8);
        border-radius: 0em 1em 1em 0em;
        box-shadow: 0px 0px 10px 5px black;

        a { 
            color: white;
            display: inline; 
            margin: .1em .25em;
            padding: 0;

            > svg {
                height: 1.75em;
                width: 1.75em;
            }
        }
    }

    .controls {
        margin: .25em;
        padding: .25em;
        position: fixed;
        top: 0;
        right: 0;
        border-radius: 15%;
        background-color: red;

        > svg {
            margin: 0;
            padding: 0;
            height: 1.5em;
            width: 1.5em;
            z-index: 10;

            &#open {
                display: block;
            }
            &#close {
                display: none;
            }
        }
    }

    > .menu {
        display: none;
        z-index: 5;
    }
}

section.portfolio {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    font-family: 'Roboto', sans-serif;
    max-width: 500px;
    min-width: 260px;

    .poster {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin: .5em;
        > a {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }

        h2 {
            color: black;
            margin: .1em 0em;
            text-shadow: 1px 1px 2px white,
                         1px -1px 2px white,
                         -1px -1px 2px white,
                         -1px 1px 2px white;
        }
        img {
            margin: 0em;
            height: 160px;
            width: 200px;
            border: 1px solid black;
            box-shadow: 0px 3px 10px 5px black;
        }
    }
}

section.logo {
    width: 100%;
    text-align: center;
    margin: 1em 0em 0em 0em;

    > img {
        width: 85%;
        min-width: 300px;
        max-width: 700px;
    }
}

div.thumbnail-backgrounds {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -6;
    opacity: 1;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    & > img {
        position: fixed;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index:-5;
        opacity: 0;
        transition: opacity .8s ease-in-out;
    }
}

div.background-mask {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, 
                                      rgba(0,0,0,.8), 
                                      rgba(0,0,0,.2) 50%);
}

a.noh {
    text-decoration: none;
    color: black;
}

.visible {
    opacity: 1 !important;
}

@media screen and (max-width: 550px) {
    section.portfolio {
        flex-flow: column nowrap;
    }
}
